In [ ]:
## lets create fake news detector
## import the libraries
from nltk.stem.porter import porterStemmer # use for change word like (loved and loving)into (love)
from nltk.corpus import stopwords # use for remove the some words like [ the , for ,of, in with]

In [12]:
import numpy as np
import pandas as pd
import re
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer # use for convert words into metrics
import sklearn.datasets
import sklearn

In [21]:
news_df = pd.read_csv('../train.csv')
news_df.head()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [22]:
news_df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [23]:
## removing the null values
news_df = news_df.fillna('')

In [24]:
news_df.isna().sum()

survived    0
pclass      0
name        0
sex         0
age         0
sibsp       0
parch       0
ticket      0
fare        0
cabin       0
embarked    0
dtype: int64

In [ ]:
## Stemming to remove all udeless words and expresions like [,._- ing s etc]
ps = porterStemmer()
def steaming(content):
   steamed_content = re.sub('[^a-zA-Z]'," ",content)
   # convert to lower case
   steamed_content = steamed_content.lower()
   # split the content
   steamed_content = steamed_content.split()
   # remove the stopword like loving loved into love
   steamed_content = [ps.stem(word) for word in steamed_content if not word in stopwords.words('english')]
   steamed_content = "".join(steamed_content)
   return steamed_content

In [ ]:
news_df['content'] = news_df['content'].apply(steaming)

In [ ]:
## seperating data
x= news_df['content'].values
y= news_df['label'].values

In [ ]:
## convert the words into metrics vector
vector = TfidfVectorizer()
vector.fit(x)
vector.transform(x)
print(x)

In [ ]:
## split the data
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [ ]:
## Train the model
model =LogisticRegression()
model.fit(x_train,y_train)

In [ ]:
# prediction
x_train_pred = model.predict(x_train)
print('train accuacy:', accuracy_score(x_train_pred,y_train))

In [ ]:
# prediction
y_train_pred = model.predict(y_train)
print('train accuacy:', accuracy_score(y_train_pred,y_test))

In [ ]:
## pridiction system
input_data = x_test[10]
prediction = model.predict(input_data)
if prediction[0]== 1:
   print("Fake news")
else:
   print('Real news')